@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

:root {
  --color-white-main: #FFFFFF;
  --color-white-second: #baa9a9a8;
  --color-white-dark: #C4C4C4;
  --color-black-main: black;
  --color-black-second: #282828;
  --color-brown-light: #99862A;
  --color-brown-dark: #695909;
  --color-yellow-main: #d2bd68;
  --color-yellow-light: #E6E3C4;
  --color-yellow-dark: #998431;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.novelty-block {
  display: flex;
  justify-content: center;
  padding: 80px 0;
  background: var(--color-yellow-light);
}

.novelty-block__content {
  border-top: 1px solid var(--color-yellow-dark);
  border-bottom: 1px solid var(--color-yellow-dark);
  display: flex;
  max-width: 1110px;
  gap: 125px;
  padding: 60px 0px;
}

.novelty-block__info {
  max-width: 40.09%;
  flex-basis: 40.09%;
  font-family: 'Montserrat';
  color: var(--color-black-second);
}

.novelty-block__title {
  font-size: 16px;
  line-height: 24px;
}

.novelty-block__subtitle,
.novelty-block__line,
.novelty-block__text {
  margin-top: 30px;
}


.novelty-block__subtitle {
  font-family: 'Playfair Display';
  font-size: 36px;
  line-height: 54px;
}

.novelty-block__line {
  background: var(--color-black-second);
  width: 160px;
  height: 1px;
}

.novelty-block__text {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 30px;
}

.wine__types__table {
  display: flex;
  flex-wrap: wrap;

}

.year {
  padding: 31px 24px 26px 24px;
  border-right: 1px solid var(--color-black-second);
  font-size: 14px;
  line-height: 21px;
  border-bottom: 1px solid var(--color-black-second);
  display: table-cell;
}

.name {
  padding: 10px 0 15px 30px;
  font-size: 14px;
  line-height: 21px;
  border-bottom: 1px solid var(--color-black-second);
  display: table-cell;
}

.text__font__playfair {
  font-family: 'Playfair Display';
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.end__table {
  border-bottom: none;
}

.novelty-block__btn {
  padding: 15px 30px;
  background-color: var(--color-yellow-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: var(--color-white-main);
  transition-duration: 1s;

}

.novelty-block__btn:hover {
  background-color: var(--color-yellow-main);
  color: var(--color-black-second);
  border-radius: 50px;
}

.novelty-block__btn:visited {
  opacity: 0.8;
}

.novelty-block__images {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: 48.65%;
  max-width: 48.65%;
}

.glass__img {
  flex-basis: 100%;
  max-width: 100%;
  max-height: 500px;
}

.bottles__first__img {
  flex-basis: 47.22%;
  max-width: 47.22%;
  max-height: 228px;
}

.bottles__second__img {
  flex-basis: 47.22%;
  max-width: 47.22%;
  max-height: 228px;

}