@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

:root {
  --color-white-main: #FFFFFF;
  --color-white-second: #baa9a9a8;
  --color-white-dark: #C4C4C4;
  --color-black-main: black;
  --color-black-second: #282828;
  --color-brown-light: #99862A;
  --color-brown-dark: #695909;

}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

.best__wine-block {
  padding: 100px 405px;
  background-color: var(--color-black-second);
}

.best__wine-block__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid var(--color-white-dark);
  padding: 60px 187px 60px 187px;
  color: var(--color-white-main);
  max-height: 656px;
}

.best__wine-block__title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 36px;
  line-height: 54px;
  font-weight: 600;
}

.best__wine-block__line {
  width: 160px;
  background-color: var(--color-white-main);
  margin: 40px auto 0 auto;
  padding-top: 1px;
}

.best__wine-block__text {
  margin-top: 40px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 24px;
}

.wine__glass {
  max-width: 160px;
  margin: 50px auto 0 auto;
}