@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

:root {
  --color-white-main: #FFFFFF;
  --color-white-second: #baa9a9a8;
  --color-black-main: black;
  --color-brown-light: #99862A;
  --color-brown-dark: #695909;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.background__first-block {
  background: url(/images/winebottles.png)0 0 no-repeat;
  background-size: cover;
  height: fit-content;
  padding: 30px 405px 150px 405px;
}

.first-block {
  display: flex;
  flex-direction: column;
  max-width: 1110px;
  font-family: "Montserrat", sans-serif;
}

.first-block__contacts {
  display: flex;
  justify-content: space-between;
  color: var(--color-white-main);
  font-weight: 500;
  font-size: 13px;
  line-height: 19.5px;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
}

.navbar__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: var(--color-white-main);
  border: solid 1px var(--color-white-main);
  padding: 14px 104px;
  min-width: 277.5px;
}

.navbar__item:last-child,
.navbar__item:first-child {
  border-right: 0px;
  border-left: 0px;
}

.navbar__item:after {
  content: "";
  margin-top: 5px;
  display: block;
  width: 0%;
  height: 1px;
  background-color: var(--color-white-second);
  transition: width 0.4s ease;
}

.navbar__item:hover:after,
.navbar__item:focus:after,
.navbar__item:active:hover {
  width: 100%;
}

.navbar__item:hover,
.navbar__item:focus,
.navbar__item:active {
  color: var(--color-white-second);
  font-size: 16px;
  padding: 10px 100px;
}

.first-block__buttons {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 583px;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: var(--color-white-main);
  background-color: var(--color-brown-light);
  padding: 15px 30px;
  transition-duration: 1.5s;
}

.wine__map:hover,
.degustation:hover {
  background-color: var(--color-brown-dark);
  color: var(--color-black-main);
  border-radius: 50px;
}